In [8]:
#4. PANDAS FOUNDATION
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool



from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))

import os
for dirname, _, filenames in os.walk("/kaggle/input/pokemon"):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
data = pd.read_csv('/kaggle/input/pokemon/Pokemon.csv')
data.head()

# data frames from dictionary
country = ["Spain","France"]
population = ["11","12"]
list_label = ["country","population"]
list_col = [country,population]
zipped = list(zip(list_label,list_col))
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

# Add new columns
df["capital"] = ["madrid","paris"]
df

# Broadcasting
df["income"] = 0 #Broadcasting entire column
df


##########################################################
#VISUAL EXPLORATORY DATA ANALYSIS

# Plotting all data 
data1 = data.loc[:,["Attack","Defense","Speed"]]
data1.plot()
# it is confusing

# subplots
data1.plot(subplots = True)
plt.show()

# scatter plot  
data1.plot(kind = "scatter",x="Attack",y = "Defense")
plt.show()

In [10]:
data.describe()

In [13]:
time_list = ["1992-03-08","1992-04-12"]
print(type(time_list[1])) # As you can see date is string
# however we want it to be datetime object
datetime_object = pd.to_datetime(time_list)
print(type(datetime_object))

In [14]:
# close warning
import warnings
warnings.filterwarnings("ignore")
# In order to practice lets take head of pokemon data and add it a time list
data2 = data.head()
date_list = ["1992-01-10","1992-02-10","1992-03-10","1993-03-15","1993-03-16"]
datetime_object = pd.to_datetime(date_list)
data2["date"] = datetime_object
# lets make date as index
data2= data2.set_index("date")
data2

In [15]:
# Now we can select according to our date index
print(data2.loc["1993-03-16"])
print(data2.loc["1992-03-10":"1993-03-16"])

In [16]:
# We will use data2 that we create at previous part
data2.resample("A").mean()

In [17]:
# Lets resample with month
data2.resample("M").mean()
# As you can see there are a lot of nan because data2 does not include all months

In [18]:
# In real life (data is real. Not created from us like data2) we can solve this problem with interpolate
# We can interpolete from first value
data2.resample("M").first().interpolate("linear")

In [19]:
# Or we can interpolate with mean()
##data2.resample("M").mean().interpolate("linear")

In [22]:
###################################
#5.MANIPULATING DATA FRAMES WITH PANDAS
# read data
data = pd.read_csv('../input/pokemon/Pokemon.csv')
data= data.set_index("#")
data.head()

In [23]:
# indexing using square brackets
data["HP"][1]

In [24]:
# using column attribute and row label
data.HP[1]

In [26]:
# using loc accessor
data.loc[1,["HP"]]

In [25]:
# Selecting only some columns
data[["HP","Attack"]]

In [28]:
#SLICING DATA FRAME
# Difference between selecting columns: series and dataframes
print(type(data["HP"]))     # series
print(type(data[["HP"]]))   # data frames

In [27]:
# Slicing and indexing series
data.loc[1:10,"HP":"Defense"]   # 10 and "Defense" are inclusive

In [29]:
# Reverse slicing 
data.loc[10:1:-1,"HP":"Defense"]

In [30]:
# From something to end
data.loc[1:10,"Speed":]

In [31]:
#FILTERING DATA FRAMES
# Creating boolean series
boolean = data.HP > 200
data[boolean]

In [32]:
# Combining filters
first_filter = data.HP > 150
second_filter = data.Speed > 35
data[first_filter & second_filter]

In [ ]:
# Filtering column based others
data.HP[data.Speed<15]

In [33]:
#TRANSFORMING DATA
# Plain python functions
def div(n):
    return n/2
data.HP.apply(div)

In [36]:
# Or we can use lambda function
data.HP.apply(lambda n : n/2)

In [37]:
# Defining column using other columns
data["total_power"] = data.Attack + data.Defense
data.head()

In [41]:
# our index name is this:
print(data.index.name)
# lets change it
data.index.name = "index_name"
data.head()

In [40]:
# Overwrite index
# if we want to modify index we need to change all of them.
data.head()
# first copy of our data to data3 then change index 
data3 = data.copy()
# lets make index start from 100. It is not remarkable change but it is just example
data3.index = range(100,900,1)
data3.head()

In [38]:
# lets read data frame one more time to start from beginning
data = pd.read_csv('../input/pokemon/Pokemon.csv')
data.head()
# As you can see there is index. However we want to set one or more column to be index

In [39]:
# Setting index : type 1 is outer type 2 is inner index
data1 = data.set_index(["Type 1","Type 2"]) 
data1.head(100)
# data1.loc["Fire","Flying"] # howw to use indexes

In [43]:
dic = {"treatment":["A","K","B","B"],"gender":["F","M","F","M"],"response":[10,45,5,9],"age":[15,4,72,65]}
df = pd.DataFrame(dic)
df

In [44]:
# pivoting
df.pivot(index="treatment",columns = "gender",values="response")

In [46]:
df1 = df.set_index(["treatment","gender"])
df1
# lets unstack it

In [47]:
# level determines indexes
df1.unstack(level=0)

In [48]:
df1.unstack(level=1)

In [49]:
# change inner and outer level index position
df2 = df1.swaplevel(0,1)
df2

In [50]:
df

In [51]:
# df.pivot(index="treatment",columns = "gender",values="response")
pd.melt(df,id_vars="treatment",value_vars=["age","response"])

In [52]:
# We will use df
df

In [53]:
# according to treatment take means of other features
df.groupby("treatment").mean()   # mean is aggregation / reduction method
# there are other methods like sum, std,max or min

In [54]:
# we can only choose one of the feature
df.groupby("treatment").age.max()

In [55]:
# Or we can choose multiple features
df.groupby("treatment")[["age","response"]].min()

In [56]:
df.info()
# as you can see gender is object
# However if we use groupby, we can convert it categorical data. 
# Because categorical data uses less memory, speed up operations like groupby
#df["gender"] = df["gender"].astype("category")
#df["treatment"] = df["treatment"].astype("category")
#df.info()

###